# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db